*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}
main{

}

.pokemon_image{
  


}
.pokemon__data{


}
.pokemon__name{
    t
}
